body{
    background-image: url(image.png);
    background-size: contain;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.main_box{
    box-shadow: 2px 1px 3px gray;
    height: 100vh ;
    width: 40vh;
    background-color: rgb(56, 63, 69, 0.8);
}